In [84]:
import pandas as pd
import numpy as np

In [85]:
#importing the terms csv data obtained from the internet and creating Dataframe
AI_Terms= pd.DataFrame(pd.read_csv("AI_term_popularity.csv"))
Chat_GPT_Terms= pd.DataFrame(pd.read_csv("Chat_gpt_interest.csv"))

In [ ]:
#Cleaning up term datasets 
#drop NA from AI term 
AI_Terms.dropna(inplace=True)

#drop NA from Chat gpt terms
Chat_GPT_Terms.dropna(inplace=True)

                         Category: All categories
Country               Chat GPT: (5/7/20 - 5/7/25)
Pakistan                                      100
Nepal                                          93
Peru                                           92
Bolivia                                        90
Moldova                                        89
Ecuador                                        86
Tunisia                                        83
South Korea                                    83
Morocco                                        81
Slovenia                                       79
Sri Lanka                                      78
Philippines                                    77
Kenya                                          77
United Arab Emirates                           75
Myanmar (Burma)                                73
Israel                                         73
Colombia                                       66
Lebanon                                        66
Croatia                                        63